@import "../styles/_common.scss"; 

.maPartnersPage{position: relative;}
.maPartnersPage body { font:400 16px/22px 'OpenSans', sans-serif; color: $gray1; background-color:$white;padding-top: 81px;} 
.main{position: relative;}

@media all and (max-width:980px) {
    .maPartnersPage body{font-size: 14px;line-height: 20px;}
}

@media all and (max-width:768px) {  
    .maPartnersPage body{padding-top: 61px; } 
} 