@import '../../../styles/common';

.benefitsOfPartneringSec { position: relative;padding-top:20px;
    .secTitle{margin-bottom: 20px;}
}


.reBenefitUlistBox{ list-style: none; border: solid 1px #f58220; border-radius: 8px; padding: 25px 25px 25px 30px; width: 80%; display: block; text-align: left;
    li{ font-size: 15px; line-height: 22px; position: relative;padding-left: 25px; padding-bottom: 15px;
        &:before { content: ""; position: absolute; left: 0; top: 5px; width: 0; height: 0; border-top: 4px solid transparent; border-right: 8px solid #f58220; border-bottom: 4px solid transparent; transform: rotate(177deg);}
        b{ color: #f58220;}
    }
    
} 