@import '../../../styles/common';

.viewDetailedPricesSec { position: relative;padding-top: 40px;margin-bottom: 30px;
    .secTitle{padding-bottom: 20px;font-size: 20px;line-height: 22px;font-weight: 700;}
    p{margin-bottom: 20px;}
}   
.docsLinkBox {width: 100%;width: 100%; display: flex; border: solid 1px #D2D2D2; border-radius: 4px; padding: 20px 20px; margin-top: 10px; flex-wrap: nowrap; padding-left: 30px;margin-bottom: 30px;} 
.docsLinkBox .halfWrapAlink { width: 50%; display: flex; color: #FF7518; align-items: center; }  
.docsLinkBox a { color: #FF7518; } .docsLinkBox img { margin-right: 15px; }

.otherChargeAccBox{width: 100%; display: inline-block; border: solid 1px #D2D2D2; border-radius: 4px;
    .accHeadBox{position: relative;}
    .accBodyBox{position: relative;}
}
.accHeadBox {width: 100%; display: flex; padding: 15px 15px 15px 15px; align-items: center; justify-content: space-between;
    .title { font-size: 20px; color: #043B72;font-weight: 700;margin-bottom: 5px;} span { color: #FF7518; }strong { font-weight: 600; }
    .lhsWrap{position: relative;}
    .accordingBtn{ width: 150px; display: flex; color: #FF7518; vertical-align: top; text-align: right; padding-right: 10px; cursor: pointer;align-items: center; column-gap: 10px;justify-content: flex-end;
        &.active img{transform: rotate(180deg);}
    } 
}     
.accBodyBox { width: 100%; display: inline-block; padding: 15px; 
    ul { margin: 0; padding: 0; } 
    ul li { list-style: none; position: relative; margin-bottom: 30px;&:last-of-type{ margin-bottom: 0;}} 
    ul li::before { width: 4px; height: 4px; background: #333; position: absolute; left: 0; top: 10px; content: ""; border-radius: 50%; } 
    ul li b { font-family: 'Open Sans Semi Bold', sans-serif; padding-left: 15px; } 
    ul li p { margin-top: 10px; margin-bottom: 10px;}
}  
            

@media only screen and (max-width: 767px) {  
    /* .accBodyBox {
        overflow: hidden;
        display: block;
    } */ 
    .accBodyBox {
        overflow-x: scroll;
        width: 100%;display: block;
    }  
}