/* --- Main colors --- */
$blue: #043B72;  
$orange: #ff7518; 
$black: #000000;
$white: #ffffff;

/* --- Sub colors --- */
$black: #000000;
$white: #ffffff;  

$blue1:#042b52;   
$blue2:#083159;

$gray1:#333333; 
$gray2:#ccc;
$gray3: #ffe0c6; 
 
$orange1:#f58220;

$white1: #fafafa;
$white2:#eceef3;
$white3:#D9DBE4;