@import "@/styles/_common.scss";

// Chrome, Safari, Edge, Opera
.modalBody input::-webkit-outer-spin-button,
.modalBody input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Firefox
.modalBody input[type="number"] {
  -moz-appearance: textfield;
}

.formWrap {
  &.thankpopupMan {
    max-width: 500px;
  }

  .modalHeader {
    padding: 10px;
    padding-top: 5px;
    height: 0px;
  }

  .modaltitle {
    text-align: center;
    font-size: 20px;
    color: #333;
    text-transform: none;
    width: 100%;
    font-weight: 700;
  }

  .closepp {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 32px;
    color: #666;
    background-color: transparent;
    border: 0px;
  }
}

.dFlex {
  margin-top: 10px;
}

// OTP CSS
.setpinPopuparea {
  text-align: center;
  padding: 20px 15px 0;
}

.setpinPopuparea {
  p {
    margin-bottom: 20px;
  }
}

.setpinPopuparea img {
  display: inline-block;
  margin-left: 0.5rem;
  line-height: 1rem;
}

.setpinPopuparea h4 {
  font-size: 20px;
  color: #333;
  font-family: "Open Sans Semi Bold", sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 30px;
  text-transform: none;
}

.setpinPopuparea label {
  font-size: 16px;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
}

.setpinPopuparea label img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  cursor: pointer;
}

.otpboxInput {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 15px;
}

.otpboxInput input {
  border-radius: 4px;
  border: 1px solid #d2d2d2;
  width: 40px;
  height: 40px;
  font-family: "Open Sans Semi Bold", sans-serif;
  font-size: 16px;
  text-align: center;
  margin-left: 8px;
}

.otpboxInput input:first-child {
  margin-left: 0;
}

.otppopup-block p {
  text-align: center;
  font-size: 14px;
  color: #333;
  margin-bottom: 0;
  margin-top: 10px;
}

.setpinPopuparea button {
  border-radius: 4px;
  background: #ff7518;
  border: 1px solid transparent;
  color: #fff;
  font-family: "Open Sans Semi Bold", sans-serif;
  min-width: 160px;
  height: 42px;
  line-height: 42px;
  padding: 0;
  text-align: center;
  cursor: pointer;
  margin-bottom: 15px;
}

.resend {
  cursor: pointer;
  display: inline-block;
  color: #ff7518;
  font-size: 14px;
  font-weight: 600;
}

@media all and (max-width: 980px) {
  .formWrap {
    &.thankpopupMan {
      width: 96%;
      max-width: 96%;
    }
  }

  .formContent {
    li {
      flex: 0 0 100%;
    }

    &.last {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .switchField {
    margin-bottom: 0px;
  }
}

@media all and (max-width: 767px) {
}

@media all and (max-width: 480px) {
  .thankpopupMan .modalBody ul {
    width: calc(100% - 45px);
  }

  .thankpopupMan .modalBody ul li {
    width: calc(40% - 6px);

    &:last-child {
      margin-left: 5px;
      width: calc(60% - 6px);
    }
  }

  .deletBad {
    width: 36px;
    height: 36px;
    vertical-align: top;
    margin-left: 5px;
  }
}

.error {
  color: red;
  padding-left: 4px;
  font-size: 12px;
}
