@import "@/styles/common";

.faqsSec {
  padding-top: 50px;
  padding-bottom: 30px;

  .secTitle {
    margin-bottom: 30px;
  }

  table th {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
    font-weight: 600;
    background: #fff5ee;
    line-height: 22px;
  }

  table td {
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid #c4c4c4;
  }

  p {
    text-align: left;
    margin: 0 0 10px;
    font-size: 14px;
  }
}

.accordionHolder {
  position: relative;
}

.accCard {
  position: relative;

  .accTitle {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    color: #000;
    border-bottom: 1px solid #f1ece6;
    cursor: pointer;
    position: relative;
    padding: 15px 35px 15px 10px;

    .queryTxt {
      font-size: 20px;
      line-height: 26px;
      font-weight: 600;
      color: #000;
    }

    &::after {
      content: "";
      background: url(/icon-down.svg) 0 0 / cover;
      position: absolute;
      top: 15px;
      right: 10px;
      width: 20px;
      height: 20px;
      transition: 0.3s;
    }

    &.active:after {
      transform: rotate(180deg);
    }
  }

  .accPanel {
    transition: height 0.35s ease;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    line-height: 22px;

    .accPanelBox {
      padding: 15px;
    }

    ul {
      list-style-type: disc;
      margin-top: 5px;
      padding-left: 20px;

      li {
        font-size: 14px;
        list-style-type: disc;
        line-height: 20px;
        color: #333;
        padding-bottom: 5px;
        margin-bottom: 7px;

        &:hover {
          color: #000;
        }
      }
    }
  }
}

@media all and (max-width: 980px) {
  .accCard .accTitle .queryTxt {
    font-size: 14px;
    line-height: 20px;
  }
  .accCard .accPanel {
    font-size: 12px;
    line-height: 18px;
    ul li,
    p {
      font-size: 12px;
      line-height: 18px;
    }
  }
  .tableHolder,
  .pricingTableHolder {
    overflow-x: auto;
    white-space: nowrap;
  }
}
