@import "@/styles/_common.scss";

.formWrap {
  padding: 0;
  &.scoreModalHolder {
    max-width: 500px;
  }
  .closepp {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 22px;
    color: #666;
    background-color: transparent;
    border: 0px;
  }
}

.scoreModalHolder .modalBody {
  padding: 0px 15px 10px 15px;
}
.modalHeader {
  padding: 15px 15px 10px 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e9ecef;
  .modelTitle {
    font-size: 15px;
    line-height: 22px;
    color: #000;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    display: block;
  }
}
.complaintScores {
  text-align: left;
  .ulTitle {
    font-size: 25px;
    line-height: 40px;
    font-family: "Nunito", sans-serif;
    color: #1a3967;
    font-weight: 700;
    display: block;
  }
  ul {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    list-style: disc;
    margin-left: 15px;
    li {
      margin-bottom: 5px;
      list-style: disc;
      a {
        margin: 0;
      }
    }
  }
  ul li span,
  ul li a {
    color: #ff7518;
    display: inline-block;
    padding: 0 10px;
    background: #efefef;
    margin: 0px 0;
    font-size: 14px;
  }
  ul li span {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 4px;
  }
}
@media all and (max-width: 980px) {
  .formWrap {
    &.scoreModalHolder {
      width: 96%;
      max-width: 96%;
    }
  }

  .formContent {
    li {
      flex: 0 0 100%;
    }

    &.last {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

@media all and (max-width: 767px) {
}

@media all and (max-width: 480px) {
  .scoreModalHolder .modalBody ul {
    width: 100%;
  }
  .scoreModalHolder .modalBody ul li {
    &:last-child {
      margin-left: 5px;
    }
  }
}
