@import "@/styles/common";

.howToReferSec {
  background: rgba(240, 130, 0, 0.1);
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
  margin-top: 50px;
}

.howToReferSec ul {
  position: relative;
}

.howToReferSec ul:before {
  content: "";
  position: absolute;
  left: 23%;
  top: 49px;
  width: 54%;
  border-top: 2px dashed #f58220;
}

.howToReferSec ul li {
  display: inline-block;
  text-align: center;
  width: 20%;
  vertical-align: top;
  margin-top: 25px;
  margin-left: 65px;
}

.howToReferSec ul li:first-child {
  margin-left: 0;
}

.howToReferSec ul li span {
  border-radius: 8px;
  background: #f58220;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  line-height: 48px;
  position: relative;
  z-index: 1;
}

.howToReferSec ul li p {
  color: #043b72;
  font-size: 16px;
  width: 100%;
  font-weight: 600;
  margin-top: 25px;
  line-height: 24px;
}

.howToReferSec ul li p b {
  font-weight: 700;
  color: #f58220;
}

.notelinecss {
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  margin-bottom: 0;
  margin-top: 10px;
  width: 80%;
  margin-left: 10%;
}

@media only screen and (max-width: 960px) {
  .howToReferSec {
    padding-top: 25px;
    padding-bottom: 20px;
    margin-top: 0px;
    text-align: left;
    .maContainer {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .howToReferSec ul li {
    width: 100%;
    margin-left: 0;
    text-align: left;
  }
  .howToReferSec ul li:first-of-type {
    margin-top: 0;
  }

  .howToReferSec ul li span {
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 38px;
  }

  .howToReferSec ul li p {
    display: inline-block;
    width: calc(100% - 70px);
    margin-left: 15px;
    vertical-align: middle;
    margin-bottom: 0;
    margin-top: 0;
  }

  .howToReferSec ul li p br {
    display: none;
  }

  .howToReferSec ul:before {
    left: 20px;
    top: 25px;
    width: 2px;
    border-left: 2px dashed #f58220;
    border-top: 0;
    height: 87%;
  }

  .notelinecss {
    width: 100%;
    margin-left: 0;
  }
}
