@import '../../../styles/common';

.whatsInitClientsSec {
    padding-top: 40px;
    padding-bottom: 30px;
}

.technolbar-ta .nav-tabs .nav-link span {
    position: relative
}

.technolbar-ta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px
}

.tab-run-business-img {
    background: url("/mobile-left-bg.webp") center center/cover no-repeat;
    width: 350px;
    height: 350px;
    text-align: center
}

.tab-run-business-img img {
    display: inline-block;
    max-height: 100%
}

.technolbar-ta .tab-content {
    width: 350px;
    display: inline-block;
    vertical-align: middle
}

.technolbar-ta .nav-tabs {
    width: calc(100% - 390px);
    display: inline-block;
    border-bottom: none;
    position: relative;
    padding: 0 110px;
    vertical-align: middle;
    margin-left: 20px
}

.technolbar-ta .nav-tabs:before {
    position: absolute;
    left: 70px;
    top: 9%;
    height: 80%;
    content: "";
    width: 2px;
    border-left: 2px dashed #d2d2d2
}

.technolbar-ta .nav-tabs .nav-item {
    margin: 15px 0
}

.technolbar-ta .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    color: #666;
    padding: 10px 15px;
    position: relative;
    line-height: 24px;
    display: block;
    cursor: pointer;
    transition: 0.3s all;
}

.technolbar-ta .nav-tabs .nav-item .nav-link i {
    width: 25px;
    height: 25px;
    position: absolute;
    left: -54px;
    background: #fff;
    border-radius: 50%;
    color: #ff7518;
    text-align: center;
    font-style: normal;
    font-size: 15px;
    border: 1px solid #ff7518;
    line-height: 25px
}

.technolbar-ta .nav-tabs .nav-link.active {
    color: #ff6700;
    background-color: #fff3e4;
    border-color: #ff7518;
    filter: drop-shadow(0px 0px 10px rgba(255, 117, 24, .25))
}

.technolbar-ta .nav-tabs .nav-link.active i {
    background: #ff7518;
    color: #fff
}

.technolbar-ta .nav-tabs .nav-link.active span:before {
    position: absolute;
    left: -33px;
    top: 2px;
    content: "";
    border: 9px solid;
    border-color: transparent #fff3e4 transparent transparent;
    z-index: 1
}

.technolbar-ta .nav-tabs .nav-link.active span:after {
    position: absolute;
    left: -34px;
    top: 2px;
    content: "";
    border: 9px solid;
    border-color: transparent #ff7518 transparent transparent
}

@media all and (max-width:980px) {
    .technolbar-ta {
        flex-wrap: wrap;
    }

    .technolbar-ta .nav-tabs {
        padding: 0 0px 0 110px;
        width: 100%;
    }

    .technolbar-ta .nav-tabs .nav-link {
        font-size: 15px;
        padding: 10px 15px;
        line-height: 20px;
    }

    .technolbar-ta .tab-content {
        width: 100%;
    }

    .tab-run-business-img {
        margin: 15px auto 15px auto;
    }
}

@media all and (max-width:768px) {
    .technolbar-ta {
        margin-top: 0px;
        padding-left: 0px;
    }

    .technolbar-ta .nav-tabs {
        padding: 0px;
        width: 100%;
        padding-left: 45px;
    }

    .technolbar-ta .nav:before {
        left: 4px;
    }

    .technolbar-ta .tab-content {
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
        padding: 0pxx;
    }

    .tab-run-business-img {
        margin: 0px auto 0px auto;
        width: 100%;
        background-size: 60%;
        background-position: center center;
        height: auto;

        img {
            width: 130px;
        }
    }

    .technolbar-ta .nav-tabs .nav-link {
        display: inline-block;
    }

    .technolbar-ta .nav-tabs {
        width: 100%;
        padding: 0 10px 0 60px;
        margin-left: 0;
        margin-top: 20px;
    }

    .technolbar-ta .nav-tabs:before {
        left: 20px;
    }
}