@import "../styles/_common.scss";

.maPartnersPage {
    position: relative;
}

.maPartnersPage body {
    color: $gray1;
    background-color: $white;
    padding-top: 81px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
	font-family: 'Open Sans', sans-serif !important;
}  
.maPartnersPage body.scrollLock { overflow: hidden; }
.main {
    position: relative;
} 
@media all and (max-width:980px) {
    .maPartnersPage body {
        font-size: 14px;
        line-height: 20px;
    }
}

@media all and (max-width:768px) {
    .maPartnersPage body {
        padding-top: 61px;
    }
}