/* @keyframes in {
    from {
        bottom: 150%;
    }

    to {
        bottom: 50%;
    }
}

@keyframes out {
    from {
        bottom: 50%;
    }

    to {
        bottom: 150%;
    }
} */

.modal{
    // height: '100vh', width: '100vw', zIndex: 10, position: 'fixed', inset: 0, background: 'rgba(0,0,0,.5)', overflow: 'auto'
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: rgba($color: #000000, $alpha: 0.5);
    overflow: auto;
    left: 0;
    top: 0;

}

.modalInner{
    top: 0%;
}

.modal>div {
    animation-name: in;
    animation-duration: .5s;
}

.modal.out>div {
    animation-name: out;
    animation-duration: .5s;
}

@media all and (max-width:1279px) {    
    .modalInner{
        width: 96%;
    }
}

@media all and (max-width:980px) {    
    .modalInner{
        width: 98%;
        top: 3%;
        transform: translateX(-50%) !important;
    }
}