@keyframes in {
  from {
    bottom: 150%;
  }

  to {
    bottom: 50%;
  }
}

@keyframes out {
  from {
    bottom: 50%;
  }

  to {
    bottom: 150%;
  }
}

.modal {
  height: 100vh;
  width: 100vw;
  z-index: 10;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modalInner {
  width: max-content;
  height: fit-content;
  /* 
  width: max-content;
  height: fit-content; */
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}

.modalInner {
  animation-name: in;
  animation-duration: 1s;
}

.modalInner>* {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
  border: 0.1rem solid black;
  width: 1020px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.modal.out>div {
  animation-name: out;
  animation-duration: 1s;
}

@media all and (max-width: 980px) {
  @keyframes in {
    from {
      top: -150%;
    }

    to {
      top: 0%;
    }
  }

  @keyframes out {
    from {
      top: 0%;
    }

    to {
      top: -150%;
    }
  }

  .modalInner {
    inset: 20px;
    width: calc(100% - 40px);
    transform: none;
  }

  .modalInner>* {
    width: 100%;
  }

}