@import "../../../styles/_common.scss";


.faqsSec {
    padding-top: 30px;
    padding-bottom: 30px;

    .secTitle {
        margin-bottom: 15px;
    }

    table th {
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        padding: 10px 20px;
        text-align: center;
        font-weight: 600;
        background: #FFF5EE;
        line-height: 22px;
    }

    table td {
        font-size: 14px;
        line-height: 22px;
        color: #000000;
        padding: 10px 20px;
        text-align: center;
        border-bottom: 1px solid #C4C4C4;
    }
}

.tableTitle {
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0 10px;
}

.tablefield {
    margin-bottom: 12px;
}

.tableHolder {
    width: 100%;
    border: 1px solid #C4C4C4;
    margin-top: 15px;
    border-radius: 4px;
    margin-bottom: 20px;

    table tr:last-of-type td {
        border-bottom: 0;
    }
}

.mb10 {
    margin-bottom: 10px !important;
}

@media all and (max-width:768px) {

    .tableHolder {
        overflow-x: scroll;

        table {
            padding: 0 0 10px 0;
        }

        table th {
            font-size: 13px;
            line-height: 18px;
            padding: 10px;
        }
    }

    .tableHolder table td {
        font-size: 12px;
        line-height: 18px;
        padding: 10px;
    }
}