@import '../../../styles/common';

.SitemapMenuList { position: relative; }
 
.sitemapMenuHolder{display: flex;justify-content: center;}
.sitemapmainUl { margin-top: 50px; display: inline-block; vertical-align: top; margin-right: 80px; margin-bottom: 0; } .sitemapmainUl li { list-style: none; position: relative; padding-left: 15px; margin: 25px 0; text-align: left; } .sitemapmainUl li:first-child { margin-top: 0; } .sitemapmainUl li:last-child { margin-bottom: 0; } .sitemapmainUl li:before { width: 6px; height: 6px; background: #FF7518; position: absolute; top: 10px; left: 0; content: ""; transform: rotate(40deg); } .sitemapmainUl li a { color: #043B72; font-family: 'Open Sans Semi Bold', sans-serif; font-size: 22px; } .policybarLi { border-left: 1px solid #D2D2D2; padding-left: 80px; margin-right: 0; } .policybarLi li { margin: 15px 0; } .policybarLi li a { font-size: 18px; }

@media only screen and (max-width: 480px) {
    .sitemapmainUl li { width: 100%; margin: 15px 0; } .sitemapmainUl li:last-child { margin-bottom: 15px; } .sitemapmainUl li a { font-size: 16px; } .sitemapmainUl li:before { top: 7px; } .policybarLi { padding-left: 0; border-left: 0; } .sitemapmainUl { margin-right: 0; width: 100%; margin-top: 0; }
}
